<input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

<div class="card-columns" *ngIf="recipes$">
  <!--Card-->
  <div class="card" *ngFor="let recipe of recipes$ | async" (click)="onSelect(recipe)" [class.selected]="recipe === selectedRecipe">

    <!--Card image-->
    <div class="view hm-white-slight waves-light" mdbRippleRadius>
      <img src="{{recipe?.image}}" class="img-fluid" alt="Card image of recipe.">
      <a href="{{recipe?.url}}">
        <div class="mask"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">{{recipe?.label}}</h4>
      <!--Text-->
      <h5 class="card-text">Ingredients</h5>
      <ul>
        <li *ngFor="let ingredient of recipe?.ingredientLines" class="card-text">{{ingredient}}</li>
      </ul>
      <a class="btn btn-primary waves-light" href="{{recipe?.url}}" mdbRippleRadius>Go to recipe</a>
    </div>

  </div>
  <!--/.Card-->

</div>
