<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<mat-accordion class="heroes" [multi]="true">

  <mat-expansion-panel *ngFor="let hero of heroes" [class.selected]="hero === selectedHero">
    <mat-expansion-panel-header>
      <span class="badge">{{hero.name}}</span> {{hero.id}}
    </mat-expansion-panel-header>

    <app-hero-detail [hero]="hero"></app-hero-detail>

  </mat-expansion-panel>

</mat-accordion>
